<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/Plantilla/plantillaui">
<head>
<meta charset="UTF-8">
<title>Detalle Entrega</title>
</head>
<body>
	<div layout:fragment="contenidopaginas">
		<h1 class="mb-6 text-2xl font-bold text-navy-700">Detalle de Entrega</h1>
		<div
			class="relative max-w-xl rounded-[20px] bg-white p-6 shadow-3xl shadow-shadow-500">
			<form th:action="@{/detalleentrega/guardar}"
				th:object="${detalleEntrega}" method="post">
				<input type="hidden" th:field="*{idDetalleEntrega}">
				<div class="mb-4">
					<label class="ml-1 text-sm font-bold text-navy-700">Nombre
						del Producto</label>
					<input type="text" th:field="*{nombreProducto}"
						class="mt-2 flex h-12 w-full rounded-xl border border-gray-200 bg-white/0 p-3 text-sm outline-none focus:border-brand-500">
				</div>
				<div class="mb-4">
					<label class="ml-1 text-sm font-bold text-navy-700">Cantidad
						del Producto</label>
					<input type="text" th:field="*{cantidadProducto}"
						class="mt-2 flex h-12 w-full rounded-xl border border-gray-200 bg-white/0 p-3 text-sm outline-none focus:border-brand-500">
				</div>
				<div class="mb-4">
					<label class="ml-1 text-sm font-bold text-navy-700">Código
						del Evento</label>
					<input type="text" th:field="*{codigoEvento}"
						class="mt-2 flex h-12 w-full rounded-xl border border-gray-200 bg-white/0 p-3 text-sm outline-none focus:border-brand-500">
				</div>
				<div class="mb-4">
					<label class="ml-1 text-sm font-bold text-navy-700">Nombre
						del Evento</label>
					<input type="text" th:field="*{nombreEvento}"
						class="mt-2 flex h-12 w-full rounded-xl border border-gray-200 bg-white/0 p-3 text-sm outline-none focus:border-brand-500">
				</div>
				<button type="submit"
					class="linear mt-2 w-full rounded-xl bg-brand-500 py-3 text-base font-medium text-white transition duration-200 hover:bg-brand-600 active:bg-brand-700">Guardar</button>
			</form>
		</div>
	</div>
</body>
</html>
